main {
  margin-top: 5vh;
}

.container {
  padding-top: 5vh;
}

.nova-light {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nova-semibold {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nova-semibold-italic {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 600;
  font-style: italic;
}

h1 {
  padding-top: 5vh;
  padding-left: 2vh;
  padding-bottom: 5vh;
  background-color: #8CD9EA;
}
