h1, h3, h4, h5 {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000;
  padding-left: 2vh;
}

h1 {
  padding-top: 4vh;
  /* padding-bottom: 5vh; */
  background-color: #FFF;
}

h2 {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #000;
  padding-left: 2vh;
  padding-bottom: 5vh;
}

p {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  padding-left: 2vh;
}

main {
  margin-top: 5vh;
  min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

.about-container {
  padding-top: 5vh;
}

/* Fonts */
.nova-light {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nova-light-italic {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 300;
  font-style: italic;
}

.nova-semibold {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nova-semibold-italic {
  font-family: gill-sans-nova,sans-serif;
  font-weight: 600;
  font-style: italic;
}

.adobe-handwriting {
  font-family: adobe-handwriting-ernie,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-shaelyn {
  margin-top: 5vh;
}

.footer-logos {
  padding-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social {
  height: 5%;
  width: 5%;
}

footer p {
  padding-top: 2vh;
  text-align: center;
}

/* typewriter effect */
#typewriter{
		font-size: 2em;
		margin: 0;
    font-family: gill-sans-nova,sans-serif;
    font-weight: 600;
    font-style: normal;

		&:after{
			content: "|";
			animation: blink 500ms linear infinite alternate;
		}
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

footer {
  height: auto;
  width: 100vw;
  bottom: 0;
	padding-bottom: 10vh;
}

.portfolio-container {
  margin-top: 5vh;
  margin-left: 2%;
  margin-right: 2%;
}

h1.about-shae, h1.portfolio-title {
  background-color: #FFFFFF;
}

.card:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #8CD9EA;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (min-width: 800){
  .social {
    height: 5vh;
  }
}
